<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Job Board</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <form action="/jobs" method="post">
                <h1>Enter new job opning information</h1>
                <div class="form-group">
                    <label for="title">Enter job title:</label>
                    <input class="form-control" id="title" name="title" type="text">
                </div>
                <div class="form-group shadow-textarea">
                    <label for="description">Enter the description:</label>
                    <textarea class="form-control" id="description" name="description" type="text" placeholder="Write description here..."></textarea>
                </div>
                <h2>Enter the contact information</h2>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Full name:</label>
                        <input class="form-control" id="name" name="name" type="text" placeholder="Full Name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email" type="text" placeholder="contact@email.com">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="phone">Phone number:</label>
                        <input class="form-control" id="phone" name="phone" type="text" placeholder="Phone Number">
                    </div>
                </div>
                <button class="btn btn-info" type="submit">Post the new opening</button>
            </form>
        </div>
    </body>
</html>