<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Job Board</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <form action="/jobs" method="post">
            <div class="form-group">
                <label for="name">Enter your full name:</label>
                <input id="name" name="name" type="text">
            </div>
            <div class="form-group">
                <label for="email">Enter your email:</label>
                <input id="email" name="email" type="text">
            </div>
            <div class="form-group">
                <label for="phone">Enter phone numbert:</label>
                <input id="phone" name="phone" type="text">
            </div>
            </div>
            <button class="btn btn-info" type="submit">Calculate the cost.</button>
        </form>
    </body>
</html>