<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Job Board</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Job Posting Board</h1>

            <h4><a href="/jobs/new">Add job openings🔖</a></h4>
            <h4><a href="/jobs">See openings👀</a></h4>
        </div>
    </body>
</html>